<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="headline mt-5 ml-5">いいねした投稿</h4>
        <div class="row mt-3">
        <table class="table table-hover table-inverse">
  
        <thead>
          <tr>
            <th>User</th>
            <th>Title</th>
            <th>Content</th>  
            <th colspan="3"></th>
          </tr>
        </thead>
        <% @liked_posts.each do |post_pet| %>
          
            <td>
              <%= link_to customer_path(post_pet.customer) do %>
                <%= image_tag post_pet.customer.get_profile_image, size:"100x100" %>
                <%= post_pet.customer.name %>
              <% end %>
            </td>

            <td>
              <%= link_to post_pet_path(post_pet.id) do %>
                <%= post_pet.title %>
              <% end %>
            </td>
            <td>
              <%= link_to post_pet_path(post_pet.id) do %>
                <%= post_pet.content %>
              <% end %>
            </td>

          </tr>
        </tbody>
        <% end %>

      </table>
    </div>
  </div>
</div>