<div class='container px-5 px-sm-0'>
  <div class='row'>

    <div class='col-md-3 mt-3'>
      <table class='table'>
        <tr><%= image_tag @customer.get_profile_image, size:'100x100' %></tr>
        <tr>
      	  <th><%= @customer.name %></th>
        </tr>
        <tr>
      	  <th><%= @customer.introduction %></th>
        </tr>
      </table>
      <table>
        <tr>
          <th>フォロー中　　　　・</th>
          <th><%= link_to @customer.followings.count, customer_followings_path(@customer) %><small>フォロー</small></th>
        </tr>
        <tr>
          <th>フォロワー　　　　・</th>
          <th><%= link_to @customer.followers.count, customer_followers_path(@customer) %><small>フォロワー</small></th>
        </tr>
      </table>


      <div><%= link_to liked_posts_customer_path(@customer), data: { "turbolinks" => false } ,class: "btn btn-info text-light m-2 mt-2" do %>
        <i class="fas fa-thumbs-up"></i>いいねした投稿<% end %>
      </div>
      <div>
       <%= link_to "退会する", admin_customer_path(@customer), method: :delete, class:"ml-5 btn btn-danger" %>
      </div>
    </div>

    <div class='col-md-8 mt-3 offset-md-1'>
      <h2><%= @customer.name %>の投稿一覧</h2>
      <div class='d-flex flex-wrap'>
        <% @post_pets.each do |post_pet| %>
          <div class="d-flex flex-wrap col-md-6">
            <div class="card m-4 w-100" style="">
              <div class="card-body text-center">

                <div class="card-title">
                  <%= link_to admin_post_pet_path(post_pet.id) do %>
                    <%= post_pet.title %>
                  <% end %>
                </div>

                <div id="favorite_btn_<%= post_pet.id %>" class="card-body__favorite-position">
                  <%= image_tag post_pet.image, size: "200x180" %>
                  <%= render "favorites/btn", post_pet: post_pet %>
                </div>

                <div>
                  <%= link_to admin_customer_path(post_pet.customer) do %>
                    <%= image_tag post_pet.customer.get_profile_image, size:"50x50" %>
                    <%= post_pet.customer.name %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>