<div class='container px-5 px-sm-0'>
  <div class='row'>

    <div class='col-md-3 mt-3'>
      <table class='table'>
        <tr><%= image_tag @customer.get_profile_image, size:'100x100' %></tr>
        <tr>
      	  <th><%= @customer.name %></th>
        </tr>
        <tr>
      	  <th><%= @customer.introduction %></th>
        </tr>
      </table>
      <table>
        <tr>
          <th>フォロー中　　　　・</th>
          <th><%= link_to @customer.followings.count, customer_followings_path(@customer) %><small>フォロー</small></th>
        </tr>
        <tr>
          <th>フォロワー　　　　・</th>
          <th><%= link_to @customer.followers.count, customer_followers_path(@customer) %><small>フォロワー</small></th>
        </tr>
      </table>
      <div>
       <%= link_to "退会させる", admin_customer_path(@customer), method: :delete, class:"ml-5 btn btn-danger" %>
      </div>
    </div>

    <div class='col-md-8 mt-3 offset-md-1'>
      <h2><%= @customer.name %>の投稿一覧</h2>
      <div class='d-flex flex-wrap'>
        <% @post_pets.each do |post_pet| %>
          <div class="d-flex flex-wrap col-md-6">
            <div class="card m-4 w-100" style="">
              <div class="card-body text-center">

                <div class="card-title">
                  <%= link_to admin_post_pet_path(post_pet.id) do %>
                    <%= post_pet.title %>
                  <% end %>
                </div>

                <div>
                  <%= link_to admin_post_pet_path(post_pet.id) do %>
                    <%= image_tag post_pet.image, size: "200x180" %>
                  <% end %>
                </div>

                <div>
                  <%= link_to admin_customer_path(post_pet.customer) do %>
                    <%= image_tag post_pet.customer.get_profile_image, size:"50x50" %>
                    <%= post_pet.customer.name %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>