<div class="container">
  <div class='row'>
    <% if @range == "ユーザー検索" %>
      <h2 class="p-2">会員一覧</h2>
      <table class='table table-hover table-inverse mt-3'>
        <thead>
          <tr>
            <th scope='col' style='width: 10%'>会員ID</th>
            <th scope='col' style='width: 30%'>氏名</th>
            <th scope='col' style='width: 40%'>メールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.name, admin_customer_path(customer) %></td>
              <td><%= customer.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
    <div class="col mt-3">
      <h2>投稿一覧</h2>
      <div class='row'>
        <% @post_pets.each do |post_pet| %>
          <div class="d-flex flex-wrap col">
            <div class="card m-4 w-100" style="">
              <div class="card-body text-center">

                <div class="card-title">
                  <%= link_to admin_post_pet_path(post_pet.id) do %>
                    <%= post_pet.title %>
                  <% end %>
                </div>

                <div>
                  <%= link_to admin_post_pet_path(post_pet.id) do %>
                    <%= image_tag post_pet.image, size: "200x180" %>
                  <% end %>
                </div>

                <div>
                  <%= truncate_content(post_pet.content, 20) %>
                </div>

                <div class="d-flex text-center">
                  <div class='col'>
                    <i class="fa-regular fa-comment"></i><%= post_pet.post_comments.count %>
                  </div>
                  <div id="favorite_btn_<%= post_pet.id %>" class="col ml-2">
                    <%= render "public/favorites/btn", post_pet: post_pet %>
                  </div>
                </div>

                <div>
                  <%= link_to admin_customer_path(post_pet.customer) do %>
                    <%= image_tag post_pet.customer.get_profile_image, size:"50x50" %>
                    <%= post_pet.customer.name %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>