<% form_url = admin_signed_in? ? admin_search_path : search_path %>

<div class="search_form">
  <%= form_with url: form_url, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= f.select :range, options_for_select([['ユーザー検索'], ['投稿検索']]) %>
    <%= f.hidden_field :search, value: "partial"%>
    <%= f.submit "検索", class: "btn-sm btn-primary" %>
  <% end %>
</div>