<!DOCTYPE html>
<html>
  <head>
    <title>Tamariba</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/9e7b8f8705.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <main>
      <% if notice %>
        <p id="notice", style="background-color: rgba(255, 255, 128, .5);"><%= notice %></p>
      <% end %>
      <%= yield %>
    </main>
    
    <footer>
      <p class="text-center">はちゅのたまりば</p>
    </footer>
  </body>
</html>
